@font-face {
	font-family: Atkinson;
	src:
		url("/fonts/atkinson-regular.woff2") format("woff2"),
		url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Atkinson;
	src:
		url("/fonts/atkinson-bold.woff2") format("woff2"),
		url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-surface-base-rgb: 15 18 25;
	--color-neutral-rgb: 96 115 159;
	--color-neutral-light-rgb: 229 233 240;
	--shadow-soft:
		0 2px 6px rgb(var(--color-neutral-rgb) / 25%), 0 8px 24px rgb(var(--color-neutral-rgb) / 33%),
		0 16px 32px rgb(var(--color-neutral-rgb) / 33%);
	--color-text-primary-hsl: 0deg 0% 69%;
	--color-text-muted-hsl: 0deg 0% 25%;
	--color-text-primary: hsl(var(--color-text-primary-hsl));
	--color-accent: hsl(312deg 55% 63%);
	--grandient: hsl(300deg 60% 50%), hsl(300deg 40% 50%);

	/*  hsl(312deg 40% 50%); */
	--color-accent-light: hsl(from var(--color-accent) h calc(s - 15) calc(l - 13));

	/* hsl(300deg 40% 35%); */
	--color-accent-dark: hsl(from var(--color-accent) calc(h - 12) calc(s - 15) calc(l - 28));
	
	color-scheme: dark;
	font-family: Atkinson, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(rgb(34 41 57 / 50%), #000) no-repeat;
	overflow-wrap: break-word;
	color: var(--color-text-primary);
	font-size: 1.3rem;
	line-height: 1.7;

	@media (width <= 720px) {
		font-size: 1.1rem;
	}
}

main {
	width: clamp(200px, 75vw, 65ch);
	margin: auto;
	padding: 3em 1em;

	@media (width <= 720px) {
		padding: 1em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem;
	line-height: 1.2;
}

h1 {
	font-size: clamp(1rem, 2vw + 1rem, 3rem);
}

h2 {
	font-size: clamp(1.75rem, 1.4vw + 1.25rem, 2.5rem);
}

h3 {
	font-size: clamp(1.4rem, 1vw + 1rem, 2rem);
}

h4 {
	font-size: clamp(1.2rem, 0.7vw + 0.95rem, 1.5rem);
}

h5 {
	font-size: 1.125rem;
}

h6 {
	font-size: 1rem;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--color-text-primary);
}

a:hover {
	color: var(--color-accent-light);
}

p {
	color: var(--color-text-primary);
	margin-bottom: 1em;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	/* stylelint-disable */
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);

	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* stylelint-enable */
	
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);

	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
