---
import Layout from "@/layouts/LayoutIntegrantes.astro";
---

<Layout title="SOBRE NOSOTROS" description="Lorem ipsum dolor sit amet">
	<main>
		<p>
			✧Tonotos Crew es un grupo de creadores de contenido muy variado, con la
			finalidad de apoyar a nuestros integrantes y al mismo tiempo crear
			contenido para tu disfrute Cada contenido creado por nuestros
			integrantes es diseñado para el disfrute de los espectadores
		</p>
		<p>
			✧Priorizamos la <strong>creatividad</strong> y <strong>libertad</strong> de
			nuestros integrantes✧
		</p>
		<img src="/unnamed.png" alt="icon" />
		<p>21 INTEGRANTES</p>
		<h2>TALENTOS</h2>
		<a href="/integrantes/aleinad">
			<img src="/ui/talent-1.png" alt="Imagen representativa a la talento de Aleinad">
		</a>
		<p>
			Nuestros integrantes están llenos de creadores con grandes ideas sobre
			contenidos diversos.
		</p>
		<p>
			Desde integrantes que son VTubers, artistas hasta compositores
			musicales, cosplayers y más.
		</p>
		<img src="/ui/bg-1.png" alt="Imagen de fondo" />
		<h2>FAQ</h2>
		<div class="faq-details">
			<details>
				<summary>¿Cuándo se creó el Tonotos Crew?</summary>
				<p>Su creación fue el 12 de mayo del 2024 pero comenzó a ser público el 26 de junio del 2024</p>
			</details>
			<details>
				<summary>¿Qué tanta libertad tienen sus integrantes?</summary>
				<p>TODOS los integrantes tienen total libertad al elegir cuándo y cómo crearán sus contenidos o con qué personas colaborarán.</p>
			</details>
			<details>
				<summary>¿Cómo se manejan los formatos de contenido y las redes sociales?:</summary>
				<p>Cada integrante puede elegir qué contenido creará al igual que las redes que utilizará, lo cual permite que cada uno logre encontrar el que más comodo, sencillo y agradable le resulte </p>
			</details>
			<details>
				<summary>¿Quiénes conforman el staff?</summary>
				<p>Actualmente somos 8 personas:</p>
				<ul>
					<li>XGummyX: Ceo</li>
					<li>Dat4: Artista</li>
					<li>Misaki: Co-Ceo</li>
					<li>Lumi: Productor musical</li>
					<li>Teorías: Administrador</li>
					<li>Gatomate: Community manager</li>
					<li>Elisa: Administradora</li>
					<li>Cheto: Productor musical</li>
				</ul>
			</details>
		</div>
	</main>
</Layout>
<style>
	.faq-details {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	details {
		padding: 1em;
		border: 1px solid #fff;
		border-radius: 8px;

		& ul {
			list-style: none;
			padding-left: 0;
		}

		& li {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		& li::before {
			content: "✧";
		}
	}
	p {
		color: #fff;
		line-height: 1.6;
	}
	strong {
		color: hsl(56, 70%, 50%);
	}
	h2 {
		text-align: center;
	}
	summary {
		color: #fff;
	}
	ul {
		color: #fff;
		padding-left: 0;
	}
	li {
		margin: 0.25rem 0;
	}
</style>
