<div>
    <slot />
</div>
<script>
    import '@justinribeiro/lite-youtube';
</script>
<style>
    div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1rem;
        width: 100%;
        overflow: hidden;
    }

    div :global(iframe) {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
        border: 0;
        border-radius: 16px;
    }
    
    .lite-youtube-fallback {
        aspect-ratio: 16 / 9; /* matches YouTube player */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        background-color: #000;
        color: #fff;
        text-decoration: none;
    }

    /* right-facing triangle "Play" icon */
    .lite-youtube-fallback::before {
        display: block;
        content: '';
        border: solid transparent;
        border-width: 2em 0 2em 3em;
        border-left-color: hsl(0deg 50% 50%);
    }

    .lite-youtube-fallback:hover::before {
        border-left-color: #fff;
    }

    .lite-youtube-fallback:focus {
        outline: 2px solid hsl(0deg 50% 50%);
    }
</style>