---
interface Props {
    youtube?: string,
    instagram?: string,
    x?: string,
    tiktok?: string,
}
const { youtube, instagram, x, tiktok } = Astro.props
---
{youtube && <a href={youtube} target="_blank" rel="noopener noreferrer">
    <svg>
        <use xlink:href="/sprite.css.svg#youtube" />
    </svg>
</a>}
{instagram && <a href={instagram} target="_blank" rel="noopener noreferrer">
    <svg>
        <use xlink:href="/sprite.css.svg#instagram" />
    </svg>
</a>}
{x && <a href={x} target="_blank" rel="noopener noreferrer">
    <svg>
        <use xlink:href="/sprite.css.svg#x" />
    </svg>
</a>}
{tiktok && <a href={tiktok} target="_blank" rel="noopener noreferrer">
    <svg>
        <use xlink:href="/sprite.css.svg#tiktok" />
    </svg>
</a>}

<style>
    a {
        display: inline-flex;
        color: #fff;
        gap: 1rem;
        width: 30px;
        height: 30px;

        & svg {
            width: 100%;
            height: auto;
        }
    }
</style>