<footer>
	<div class="social-links">
		<a href="https://www.youtube.com/@TonotosCrew" target="_blank">
			<span class="sr-only">Follow Astro on Mastodon</span>
			<svg width="30" height="30">
				<use xlink:href="/sprite.css.svg#youtube" />
			</svg>
		</a>
		<a href="https://x.com/TonotosCrew" target="_blank">
			<span class="sr-only">Follow Astro on Twitter</span>
			<svg width="30" height="30">
				<use xlink:href="/sprite.css.svg#x" />
			</svg>
		</a>
		<a href="https://www.instagram.com/tonotoscrew/" target="_blank">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<svg width="30" height="30">
				<use xlink:href="/sprite.css.svg#instagram" />
			</svg>
		</a>
	</div>
	<p>Correo: tonotosentertainment@gmail.com</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em;
		color: rgb(var(--gray));
		text-align: center;
	}

	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}

	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));

		&:active {
			scale: 0.95;
		}
	}
	
	.social-links a:hover {
		color: var(--pink-hover);
	}
</style>
