---
import { SITE_TITLE } from '@/consts';
import HeaderLink from '@/components/HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/integrante">Integrantes</HeaderLink>
			<HeaderLink href="/about">Sobre nosotros</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.youtube.com/@TonotosCrew" target="_blank">
				<span class="sr-only">Follow Astro on Mastodon</span>
				<svg width="30" height="30">
					<use xlink:href="/sprite.css.svg#youtube" />
				</svg>
			</a>
			<a href="https://x.com/TonotosCrew" target="_blank">
				<span class="sr-only">Follow Astro on Twitter</span>
				<svg width="30" height="30">
					<use xlink:href="/sprite.css.svg#x" />
				</svg>
			</a>
			<a href="https://www.instagram.com/tonotoscrew/" target="_blank">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<svg width="30" height="30">
					<use xlink:href="/sprite.css.svg#instagram" />
				</svg>
			</a>
		</div>
		<div class="menu">
			<button id="open-dialog" popovertarget="my-dialog" aria-label="Abrir menú de navegación">
				<svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><use href="/sprite.css.svg#menu"></use></svg>
			</button>

			<section id="my-dialog" popover class="modal-open">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/integrante">Integrantes</HeaderLink>
				<HeaderLink href="/about">Sobre nosotros</HeaderLink>

				<div class="social-links">
					<a href="https://www.youtube.com/@TonotosCrew" target="_blank">
						<span class="sr-only">Follow Astro on Mastodon</span>
						<svg width="30" height="30">
							<use xlink:href="/sprite.css.svg#youtube" />
						</svg>
					</a>
					<a href="https://x.com/TonotosCrew" target="_blank">
						<span class="sr-only">Follow Astro on Twitter</span>
						<svg width="30" height="30">
							<use xlink:href="/sprite.css.svg#x" />
						</svg>
					</a>
					<a href="https://www.instagram.com/tonotoscrew/" target="_blank">
						<span class="sr-only">Go to Astro's GitHub repo</span>
						<svg width="30" height="30">
							<use xlink:href="/sprite.css.svg#instagram" />
						</svg>
					</a>
				</div>
				<button popovertarget="my-dialog" popovertargetaction="hide" aria-label="Cerrar menú de navegación">
					<svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><use href="/sprite.css.svg#x-close"></use></svg>
				</button>
			</section>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		box-shadow: 0 2px 8px rgb(var(--color-surface-base-rgb) / 5%);
		border-bottom: 1px solid #000;
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: min(70px, 10vh);

		& .internal-links {
			@media (width <= 570px) {
				display: none;
			}
		}

		& a {
			padding: 1em 0.5em;
			border-bottom: 4px solid transparent;
			text-decoration: none;

			&.active {
				text-decoration: none;
				border-bottom-color: var(--color-accent);

				&:hover {
					color: var(--color-text-primary);
				}
			}
		}

		& .social-links {
			display: flex;

			@media (width <= 740px) {
				display: none;
			}

			& a {
				display: flex;

				&:hover {
					color: var(--color-accent-light);
				}

				&:active {
					scale: 0.95;
				}
			}
		}
	}

	.menu {
		display: none;

		@media (width <= 740px) {
			display: block;
		}

		& button {
			background: none;
			border: none;
			cursor: pointer;
			color: var(--color-text-primary);

			&:active {
				scale: 0.95;
			}
		}
	}

	.modal-open {
		&::backdrop {
			background-color: rgb(0 0 0 / 60%);
		}
	}

	.modal-open:popover-open {
		display: flex;
		flex-direction: column;
		gap: .5em;
		padding: 1em;
		border: none;
		background-color: rgb(31 29 29 / 30%);
    	backdrop-filter: blur(30px) saturate(1.5);
		inset: unset;
		right: 0;
		height: 100%;
		width: 70%;
		touch-action: none;

		& button {
			background-color: hsl(var(--color-text-primary-hsl) / 40%);
			border-radius: 12px;
			padding: 1em;
			padding-block: .5em;
			margin-top: auto;
			margin-bottom: max(2rem, env(safe-area-inset-bottom));

			& svg {
				width: 30px;
				height: 30px;
			}
		}

		& .social-links{
			display: flex;
			justify-content: center;
			gap: 1em;
			border-top: solid 1px hsl(var(--color-text-muted-hsl));
			margin-top: 1em;
		}

		& a {
			padding: 0.6em 0.5em;
		}
	}

</style>