---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";


export async function getStaticPaths(){
    const integrantes = await getCollection('integrantes');

    return integrantes.map((integrante) => ({
        params: { slug: integrante.id },
        props: { integrante }
    }))
}
const { integrante } = Astro.props
const { data } = integrante
const { name = "Integrante", description, cover } = data
const { Content } = await render(integrante)
---
<Layout title={name} description={description}>
    <main>
        <Content />
    </main>
</Layout>
<style>
    h1 {
        font-size: clamp(1rem, 2vw + 1rem, 3rem);
    }
    img {
        width: 300px;
    }
</style>